<h1>Create a new landmark</h1>

<form action="/landmarks/new" method="POST">
  Name: <input type="text" name="landmark[name]" id="landmark_name">
  <br></br>
  Year Completed: <input type="text" name="landmark[year_completed]" id="landmark_year_completed">
  <br></br>


  <br></br>
  <input type="submit" value="Create New Landmark">
</form>